.input-right {
	text-align: right;
}

.label {
	font-size: 13px;
}

@media print {
	body {
		/*margin: 0;*/
		/*padding: 0;*/
		font-size: 14px;
	}
	h3 {
		font-size: 1rem;
		font-weight: bold;
	}
	td {
		padding-top: 0 !important;
		margin-top: 0;
		padding-bottom: 0 !important;
		margin-bottom: 0;
	}
	#recieve {
		display: block;
	}
	#back, #print, #date-fields{
		display: none;
	}

	.containter {
		margin: 0;
		padding: 0;

	}
}
