    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ingresar registro</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icons.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>
<body>

    <!-- Content -->
    <div class="container">

        <h1>Ingresar Venta</h1>
        
        <form id="get_product">
            <h3>Producto</h3>
            <div class="form-group">

                <div class="row">
                    <div class="col">
                        <label for="product-bar-code">Código: </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="bar_code"  placeholder="Código del producto" autofocus>                        
                            <button type="submit" id="remove_product" class="btn btn-primary">
                                <span class="icon-search"></span>
                            </button>     
                        </div>
                    </div>
                    <div class="col">
                        <label for="product-price">Precio: </label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" id="price" class="form-control input-right" aria-label="Precio" placeholder="0"  readonly="">
                            <span class="input-group-addon">.00</span>
                        </div>                        
                    </div>
                </div>

                <div class="form-group">
                    <label for="product-name">Nombre: </label>
                    <input type="text" class="form-control" id="name"  readonly>                    
                </div>

            </div>
        </form>

        <form id="register">
            <div class="form-group">
                <label for="bar-code">Descripción: </label>
                <input type="text" class="form-control" id="descripcion"  placeholder="Descripción">
            </div>             
            <div class="form-group">
                <label for="bar-code">Cédula Vendedor: </label>
                <div class="input-group">
                    <span class="input-group-addon">C.C.</span>
                    <input type="text" class="form-control" id="cedula"  placeholder="Cédula">
                </div>
            </div>         
            <div class="row">
                <div class="col">
                    <label for="product-price">Porcentaje Vendedor: </label>
                    <div class="input-group">
                        <input type="text" id="price" class="form-control input-right" aria-label="Porcentaje" placeholder="0">
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col">
                    <label for="product-amount">Cantidad: </label>
                    <div class="input-group">
                        <button type="button" id="remove_product" class="btn btn-danger">
                            <span class="icon-minus label"></span>
                        </button>                           
                        <input type="text" class="form-control input-right" id="amount" placeholder="0">
                        <button type="button" id="add_product" class="btn btn-success">
                            <span class="icon-plus label"></span>
                        </button>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>
		
    </div>

    <!-- Dependencies -->
    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>