<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Balance</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icons.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
	<div class="container">
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col">
                <div class="text-left" id="date-fields">
                    <input type="text" data-provide="datepicker" class="datepicker js-date" style="height: 35px; width: 125px; text-align: center;" placeholder="dd/mm/aaaa">
                    <button type="button" class="btn btn-danger pull-left js-change-date">Cambiar fecha</button>
                </div>
            </div>
            <div class="col">
                <div class="text-right">
                    <a id="back" class="btn btn-primary pull-right" href="{% url 'sales:home'%}">Regresar</a>
                </div>
            </div>
        </div>
		<h3>Ganancias {% if date %} del {{ date }}{% else %} de hoy{% endif %}</h3>
		<table class="table table-hover">
			<tbody id="table">
				<tr id="row_base" hidden="">
					<td colspan="2"></td>
					<td class="text-right"></td>
				</tr>
			</tbody>
		</table>
		<h3>Gastos</h3>
		<table class="table table-hover">
			<tbody id="table_expense">
				<tr id="row_base" hidden="">
					<td colspan="2"></td>
					<td class="text-right"></td>
				</tr>
			</tbody>
		</table>
		<h3>Entradas Netas:</h3>
		<table class="table table-hover">
			<tbody id="table_expense">
				<tr id="row_base">
					<td colspan="2">Efectivo en caja:</td>
					<td class="text-right" ><span id="cash"></span></td>
				</tr>
				<tr id="row_base">
					<td colspan="2">Ingreso en trajeta de crédito:</td>
					<td class="text-right"><span id="credit"></span></td>
				</tr>
			</tbody>
		</table>
        <div class="text-right">
            <button id="print" class="btn btn-primary pull-right">Imprimir</button>
        </div>
		<br>
		<hr>
	</div>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/boostrap.min.js"></script>
    <script src="/static/js/jquery.datetimepicker.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/listado.js"></script>
</body>
</html>
